<footer id="footer" class="main-content-wrap">
    <span class="copyrights">
        Copyrights &copy; <%= date(new Date(), 'YYYY') + ' ' + config.author || config.title %>. All Rights Reserved.
    </span>
    <span>
        I sometimes like to implement <a href="https://en.wikipedia.org/wiki/Konami_Code" aria-label="konami code">fun things</a> into my website.
    </span>
</footer>
